In [1]:
#판다스 자료형
#자료형 다루기 
#자료형 변환은 데이터 분석 과정에서 반드시 알아야 하는 요소입니다. 
#이번에 다루는 데이터 집합은 seaborn라이브러리에 있는 tips데이터 집합입니다. 
import pandas as pd 
import seaborn as sns

tips = sns.load_dataset("tips")

In [2]:
#자료형을 변환하려면 astype메서드를 사용하면 됩니다. 
tips["sex_str"] = tips["sex"].astype(str)

In [3]:
#문자열로 제대로 변환되었는지 확인해 봅니다. 자료형이 문자열인 sex_str열이 
#새로 추가되었음을 알 수 있습니다. 
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [4]:
#자료형이 변환된 데이터를 다시 원래대로 만들 수 있을까요? 
tips["total_bill"] = tips["total_bill"].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [5]:
#다시 문자열로 변환한 total_bill열을 다시 실수로 변환합니다. 
tips["total_bill"] = tips["total_bill"].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [6]:
#잘못 입력한 데이터 처리하기
#다음은 total_bill열의 1,3,5,7행의 데이터를 "missing"으로 바꿔 변수 tips_sub_miss
#에 저장한 것입니다. 
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1,3,5,7], "total_bill"] = "missing"
print(tips_sub_miss)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

C:\Users\jongdeokkim\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [7]:
#데이터프레임의 자료형을 확인해 보면 total_bill열이 실수가 아니라 문자열임을 
#알 수 있습니다. "missing"이라는 문자열 때문에 문제가 발생했습니다. 
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [8]:
#astype메서드를 사용하면 이 문제를 해결할 수 있을까요? 
#이 경우 astype메서드를 사용하면 실수로 변환할 때 오류가 발생합니다. 
tips_sub_miss["total_bill"].astype(float)

ValueError: could not convert string to float: 'missing'

In [9]:
#그러면 다른 방법을 사용해야 합니다. 이번에는 to_numeric메서드를 사용해 봅니다.
#그런데 to_numeric메서드를 사용해도 비슷한 오류가 발생합니다.
pd.to_numeric(tips_sub_miss["total_bill"])

ValueError: Unable to parse string "missing" at position 1

In [11]:
#사실 to_numeric메서드를 사용해도 문자열을 실수로 변환할 수 없습니다. 
#하지만 to_numeric메서드는 errors인자에 raise, coerce,ignore를 지정하여
#오류를 어느정도 제어할 수 있습니다. 
#errors인자를 ignore로 설정하면 오류가 발생하지 않지만 자료형도 변하지 않습니다.
#말 그대로 오류를 무시하는 것이죠.
tips_sub_miss["total_bill"] = pd.to_numeric(tips_sub_miss["total_bill"],
        errors="ignore")
print(tips_sub_miss.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\jongdeokkim\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [13]:
#이번에는 errors인자를 coerce로 설정해 보겠습니다. 그러면 "missing"이 누라값(NaN)
#으로 바뀝니다. total_bill의 자료형이 실수로 바뀌었습니다. 
tips_sub_miss["total_bill"] = pd.to_numeric(tips_sub_miss["total_bill"],
        errors="coerce")
print(tips_sub_miss.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\jongdeokkim\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
#to_numeric메서드에는 errors인자 외에도 downcast인자도 있습니다. 
#downcast는 정수, 실수와 같은 자료형을 더 작은 형태로 만들 때 사용합니다. 
#이를 다운캐스트라고 합니다.
tips_sub_miss["total_bill"] = pd.to_numeric(tips_sub_miss["total_bill"],
        errors="coerce", downcast="float")
print(tips_sub_miss.dtypes)

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

C:\Users\jongdeokkim\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
#카테고리 자료형
#판다스 라이브러리에는 유한한 범위의 값만을 가질 수 있는 카테고리라는 
#특수한 자료형이 있습니다. 카테고리 자료형을 사용하는 것이 용량과 속도먄에서 
#더 효율적입니다. 
#sex열의 데이터는 남자 또는 여자만으로 구성되어 있습니다. 그래서 카테고리 자료형
#으로 저장디어 있죠. 만약 sex열의 자료형을 문자열로 변환하면 어떻게 될까요? 
#지금은 10kb정도 됩니다. 
tips["sex"] = tips["sex"].astype("str")
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_str       244 non-null object
dtypes: category(3), float64(2), int64(1), object(2)
memory usage: 10.7+ KB
None

In [17]:
#카테고리로 변경하면 9kb로 줄어듭니다. 
tips["sex"] = tips["sex"].astype("category")
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_str       244 non-null object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.2+ KB
None

In [18]:
#apply메서드 사용하기
import pandas as pd 
df = pd.DataFrame({"a":[10,20,30], "b":[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [19]:
#다음은 제곱함수를 사용하기 전에 a열을 제곱해서 얻은 결과입니다. 
def my_sq(x):
    return x ** 2 

def my_exp(x,n):
    return x ** n

print(df["a"] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [20]:
#다음은 apply메서드에 제곱 함수의 이름(my_sq)를 전달하여 시리즈의 모든 데이터에
#제곱 함수를 적용한 것입니다. 이때 apply메서드에 전달하는 함수(my_sq)가 1개의 
#인자를 받도록 구성되어 있다면 인자값을 생략해야 합니다. 그러면 2개의 안자를 전달해야
#할 경우에는 어떻게 해야 할까요?
sq = df["a"].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [21]:
#이제 2개의 인자를 전달받아야 하는 n제곱 함수(my_exp)와 apply메서드를 함께 사용
#해 보겠습니다. apply메서드의 첫번째 인자에는 n제곱 함수의 이름(my_exp)를 전달하고
#두번째 인자에는 n제곱 함수의 두번째 인자(n)을 전달합니다. 
ex = df["a"].apply(my_exp, n=2)
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [23]:
ex = df["a"].apply(my_exp, n=3)
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [24]:
#이번에는 시리즈가 아니라 데이터프레임에 apply메서드를 사용하는 방법을 알아봅니다.
df = pd.DataFrame({"a":[10,20,30], "b":[20,30,40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [25]:
def print_me(x):
    print(x)

In [27]:
#이번에는 데이터프레임에 함수를 적용해야 하기 때문에 함수를 열방향으로 적용할지
#행방향으로 적용할지 정해야 합니다. axis인자값을 0이나 1로 지정하면 함수를 
#열 또는 행방향으로 적용할 수 있습니다. 
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [28]:
print(df["a"])

0    10
1    20
2    30
Name: a, dtype: int64

In [29]:
print(df["b"])

0    20
1    30
2    40
Name: b, dtype: int64

In [30]:
#이번에는 3개의 인자를 입력받아 평균을 계산하는 함수를 사용해 봅니다. 
def avg_3(x,y,z):
    return (x + y + z)/3

#그런데 avg_3함수를 apply메서드에 전달하면 3개의 인자값이 필요한데 1개 인자만 
#전달받는다는 에러가 발생합니다. 
print(df.apply(avg_3))

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [31]:
#다음은 avg_3함수가 열 단위로 데이터를 처리할 수 있도록 개선한 avg_3_apply함수입니다.
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [32]:
#앞에서는 데이터프레임의 행수가 3이라는 것을 알고 있다고 전제하고 작성했습니다.
#하지만 일반적으로 for문을 이용하여 아래와 같이 작성합니다.
def avg_3_apply(col):
    sum = 0 
    for item in col:
        sum += item
    return sum / df.shape[0]

#행방향으로 데이터를 처리하는 함수도 만들 수 있습니다. 
def avg_2_apply(row):
    sum = 0 
    for item in row:
        sum += item
    return sum / df.shape[1]

print(df.apply(avg_2_apply, axis=1))

0    15.0
1    25.0
2    35.0
dtype: float64

In [33]:
#apply메서드 고급
#이번에는 조금 더 큰 데이터를 사용하여 실습을 진행해 봅니다. 
#이번에 사용할 데이터는 seaborn라이브러리의 titani데이터 집합입니다. 
import seaborn as sns
titanic = sns.load_dataset("titanic")

In [34]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [35]:
#다음은 누락값의 갯수를 반환하는 count_missing함수입니다. 판다스의 isnull메서드에
#데이터프레임을 전달하면 누락값의 유무에 따라 True, False를 적용한 데이터프레임이
#만들어집니다. 이 값을 넘파이의 sum메서드에 전달하면 누락값의 갯수를 구할 수 있습니다.
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [36]:
#다음은 apply메서드에 count_missing함수를 전달하여 얻은 결과입니다.
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [37]:
#다음은 누락값의 비율을 계산하는 prop_missing함수입니다. 앞에서 작성한 count_missing
#함수를 이용해 데이터프레임의 누락값 개수를 구하고 size속성을 이용해 데이터프레임의
#전체 데이터 수를 구하여 나누면 누락값의 비율을 계산할 수 있습니다.
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

#다음은 apply메서드에 prop_missing함수를 적용한 것입니다.
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [38]:
#앞에서 작성한 prop_missing함수를 이용하면 누락값이 아닌 데이터의 비율도 구할 수 
#있습니다. 전체 비율(1)에서 누락값의 비율을 빼면 됩니다. 
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [39]:
#데이터프레임의 누락값 처리하기 - 행 방향
#이번에는 행 방향으로 데이터를 처리해 봅니다. 다음은 axis를 1로 설정하여 앞에서
#만든 count_missing, prop_missing, prop_complete함수를 행방향으로 적용하여 실행
#한 것입니다. 
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)
print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [40]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [41]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [43]:
#다음은 누락값읠 개수를 구하여 titanic데이터프레임에 추가한 것입니다. 
#데이터프레임에 num_missing열이 추가된 것을 알 수 있습니다. 
titanic["num_missing"] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [45]:
#누락값이 있는 데이터만 따로 모아서 볼 수 있습니다. 다음은 누락값이 
#2개 이상인 데이터를 추출한 것입니다.
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
324         0       3    male  NaN      8      2  69.5500        S   Third
277         0       2    male  NaN      0      0   0.0000        S  Second
29          0       3    male  NaN      0      0   7.8958        S   Third
531         0       3    male  NaN      0      0   7.2292        C   Third
388         0       3    male  NaN      0      0   7.7292        Q   Third
511         0       3    male  NaN      0      0   8.0500        S   Third
256         1       1  female  NaN      0      0  79.2000        C   First
420         0       3    male  NaN      0      0   7.8958        C   Third
36          1       3    male  NaN      0      0   7.2292        C   Third
413         0       2    male  NaN      0      0   0.0000        S  Second

       who  adult_male deck  embark_town alive  alone  num_missing
324    man        True  NaN  Southampton    no  False            2
277    man        True  NaN  Southampton    no   True            2
29     man        True  NaN  Southampton    no   True            2
531    man        True  NaN    Cherbourg    no   True            2
388    man        True  NaN   Queenstown    no   True            2
511    man        True  NaN  Southampton    no   True            2
256  woman       False  NaN    Cherbourg   yes   True            2
420    man        True  NaN    Cherbourg    no   True            2
36     man        True  NaN    Cherbourg   yes   True            2
413    man        True  NaN  Southampton    no   True            2