In [1]:
#데이터 집계
#앞에서 갭마인더 데이터 집합으로 각 연도의 평균 수명을 구했던 것을 기억하죠.
#먼저 갭마인더 데이터 집합을 불러옵니다.
import pandas as pd 
df = pd.read_csv("c:\\work\\gapminder.tsv", sep="\t")

In [2]:
#year열을 기준으로 데이터를 그룹화한 다음 lifeExp열의 평균을 구한 것입니다. 
avg_life_exp_by_year = df.groupby("year").lifeExp.mean()
print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [3]:
#분할-반영-결과 과정 살펴보기
#다음은 year열의 데이터를 중복 없이 추출한 것입니다.
years = df.year.unique()
print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [4]:
#그런 다음에 연도별로 평균값을 구합니다. 그러려면 일단 각 연도별로 데이터를 추출해야겠죠? 
#다음은 1952년의 데이터를 추출한 것입니다. 
y1952 = df.loc[df.year == 1952, :]
print(y1952.head())

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

In [5]:
#앞에서 추출한 1952년의 데이터에서 lifeExp열의 평균값을 구한 것입니다. 
y1952_mean = y1952.lifeExp.mean()
print(y1952_mean)

49.05761971830987

In [16]:
#반복하여 남은 연도의 평균값을 구하면 비로소 "반영"작업이 끝납니다. 
y1957 = df.loc[df.year == 1952, :]
y1957_mean = y1957.lifeExp.mean()
print(y1957_mean)

y1957 = df.loc[df.year == 1957, :]
y1957_mean = y1957.lifeExp.mean()
print(y1957_mean)

y1962 = df.loc[df.year == 1962, :]
y1962_mean = y1962.lifeExp.mean()
print(y1962_mean)

49.05761971830987
51.50740112676054
53.60924901408449

In [7]:
y2007 = df.loc[df.year == 2007, :]
y2007_mean = y2007.lifeExp.mean()
print(y2007_mean)

67.00742253521126

In [17]:
df2 = pd.DataFrame({"year":[1952, 1957, 1962, 2007],
                   "":[y1952_mean, y1957_mean, y1962_mean, y2007_mean]})
print(df2)

   year
0  1952  49.057620
1  1957  51.507401
2  1962  53.609249
3  2007  67.007423

In [18]:
#평균값을 구하는 사용자 함수와 groupby메서드
#다음은 입력받은 열의 평균값을 구하는 함수입니다.
def my_mean(values):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    return sum/n

#다음은 앞에서 만든 함수를 groupby메서드와 조합하기 위해 agg메서드를 사용한 것입니다. 
#결과를 보면 mean메서드를 사용하여 얻은 값과 동일하다는 것을 알 수 있습니다.
agg_my_mean = df.groupby("year").lifeExp.agg(my_mean)
print(agg_my_mean)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [19]:
#2개의 인자값을 받아 처리하는 사용자 함수와 groupby메서드
def my_mean_diff(values, diff_value):
    n = len(values)
    sum = 0
    for value in values:
        sum += value
    mean = sum / n 
    return mean - diff_value

#다음은 연도별 평균 수명에서 전체 평균 수명을 뺀 값을 구한 것입니다. 
#agg메서드의 첫번째 인자에 my_mean_diff함수를 전달하고 두번째 인자에 전체 평균 수명값을 
#전달했습니다.
global_mean = df.lifeExp.mean()
print(global_mean)

59.47443936619713

In [20]:
agg_mean_diff = df.groupby("year").lifeExp.agg(my_mean_diff, diff_value=global_mean)
print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

In [21]:
#여러 개의 집계메서드 한번에 사용하기 
#다음은 연도별로 그룹화한 lifeExp열의 0이 아닌 값의 갯수, 평균, 표준편차를 한번에 계산하여 출력한 것입니다.
#넘파이 메서드인 count_nonzero, mean, std를 리스트에 담아 agg메서드에 전달했습니다. 
import numpy as np 
gdf = df.groupby("year").lifeExp.agg([np.count_nonzero, np.mean, np.std])
print(gdf)

      count_nonzero       mean        std
year
1952          142.0  49.057620  12.225956
1957          142.0  51.507401  12.231286
1962          142.0  53.609249  12.097245
1967          142.0  55.678290  11.718858
1972          142.0  57.647386  11.381953
1977          142.0  59.570157  11.227229
1982          142.0  61.533197  10.770618
1987          142.0  63.212613  10.556285
1992          142.0  64.160338  11.227380
1997          142.0  65.014676  11.559439
2002          142.0  65.694923  12.279823
2007          142.0  67.007423  12.073021

In [23]:
#이번에는 집계 메서드를 딕셔너리에 담아 agg메서드에 전달해 보겠습니다. 
#딕셔너리의 키로 집계 메서드를 적용할 열 이름을 전달하고 딕셔너리의 값으로 집계 메서드를 
#전달하면 됩니다.
gdf_dict = df.groupby("year").agg({"lifeExp":"mean", "pop":"median", "gdpPercap":"median"})
print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334741
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371109

In [24]:
#데이터 변환
#표준점수 계산하기: 통계 분야에서는 데이터의 평균과 표준편차의 차이를 표준점수라고 부릅니다. 
#표준점수를 구하면 변환한 데이터의 평균값이 0이 되고 표준편차는 1이 됩니다. 그러면 데이터가 
#표준화되어 서로 다른 데이터를 쉽게 비교할 수 있게 되죠. 
#다음은 표준점수를 계산하는 함수입니다.
def my_zscore(x):
    return (x - x.mean())/x.std()

#다음은 각 연도별 lifeExp열의 표준 점수를 계산한 것입니다. my_azore함수를 적용하기 위해 transform메서드를
#사용했습니다.
transform_z = df.groupby("year").lifeExp.transform(my_zscore)
print(transform_z.head())

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

In [25]:
#my_zcore함수는 데이터를 표준화할 뿐 집계는 하지 않습니다. 즉 데이터양은 줄어들지 않습니다.
#다음은 원본과 변환한 데이터프레임의 크기를 비교합니다.
print(df.shape)
print(transform_z.shape)

(1704, 6)
(1704,)

In [26]:
#누락값을 평균값으로 처리하기
#가끔은 누락값을 평균값으로 처리하는 것이 더 좋을 때가 있습니다. 
import seaborn as sns
import numpy as np

np.random.seed(42)

In [27]:
tips_10 = sns.load_dataset("tips").sample(10)
tips_10.loc[np.random.permutation(tips_10.index)[:4], "total_bill"] = np.NaN
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [28]:
#그런데 total_bill열의 누락값을 단순히 total_bill열의 평균값으로 채우면 안됩니다. 
#무슨말일까요? 현재 tips_10의 데이터는 여성보다 남성이 더 많습니다. 즉, 여성과 남성을 구분하여
#total_bill열의 평균값을 구하지 않으면 여성 데이터가 남성 데이터의 영향을 많이 받아 여성 데이터가
#훼손될 수 있습니다. 다음은 성별로 그룹화한 다음 각 열의 데이터 수를 구한 것입니다. 
#total_bill열을 살펴보면 남성의 누락값은 3개, 여성의 누락값은 1개라는 것을 알 수 있습니다. 
count_sex = tips_10.groupby("sex").count()
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

In [29]:
#다음은 성별을 구분하여 total_bill열의 데이터를 받아 평균값을 구하는 함수입니다.
def fill_na_mean(x):
    avg = x.mean()
    return x.fillna(avg)

In [31]:
#다음은 성별을 구분한 total_bill열의 데이터를 fill_na_mean함수에 전달하여 평균값을 
#구한 다음 tips_10에 새로운 열로 추가한 것입니다. 남성과 여성의 누락값을 고려하여
#계산한 평균값으로 잘 채워져 있는 것을 알 수 있습니다. 
total_bill_group_mean = tips_10.groupby("sex").total_bill.transform(fill_na_mean)
tips_10["fill_total_bill"] = total_bill_group_mean
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

In [32]:
#데이터 필터링
tips = sns.load_dataset("tips")
print(tips.shape)

(244, 7)

In [33]:
#size열의 데이터 수를 확인해 보면 1,5,6 테이블의 주문이 매우 적다는 것을 알 수 있습니다.
print(tips["size"].value_counts())

2    156
3     38
4     37
5      5
6      4
1      4
Name: size, dtype: int64

In [34]:
#상황에 따라서는 이런 데이터는 제외하기도 합니다. 만약 30번 이상의 주문이 있는 테이블만 추려 
#데이터 분속을 하려면 어떻게 해야 할까요? 
tips_filtered = tips.groupby("size").filter(lambda x:x["size"].count() >= 30)

In [35]:
tips_filtered.shape

(231, 7)

In [36]:
tips_filtered["size"].value_counts()

2    156
3     38
4     37
Name: size, dtype: int64

In [37]:
#그룹 오브젝트 살펴보기
#다음은 tips데이터 집합에서 임의로 10개의 데이터를 추출한 것입니다.
tips_10 = sns.load_dataset("tips").sample(10, random_state=42)
print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153       24.55  2.00    Male     No   Sun  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
198       13.00  2.00  Female    Yes  Thur   Lunch     2
176       17.89  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [38]:
#groupby메서드의 결과값을 출력하면 자료형이 그룹 오브젝트라는 것을 확인할 수 있습니다. 
grouped = tips_10.groupby("sex")
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023CBE810888>

In [39]:
#그룹 오브젝트에 포함된 그룹을 보려면 groups속성을 출력하면 됩니다. 그러면 sex열로 그룹화한 
#데이터프레임의 인덱스를 확인할 수 있습니다. 
print(grouped.groups)

{'Male': Int64Index([24, 6, 153, 211, 176, 192, 9], dtype='int64'), 'Female': Int64Index([198, 124, 101], dtype='int64')}

In [40]:
#앞에서 만든 그룹 오브젝트(grouped)를 이용하여 평균을 구해 봅니다. 그러면 tips데이터집합의 
#모든 열의 평균을 구한 것이 아니라 total_bill, tip, size열의 평균을 구했다는 것을 알 수 있습니다. 
avgs = grouped.mean()
print(avgs)

        total_bill       tip      size
sex
Male         20.02  2.875714  2.571429
Female       13.62  2.506667  2.000000

In [41]:
#tips데이터 집합의 열을 확인해 보면 평균값을 계산할 수 없는 열인 smoker,day,time열은 그룹 연산에서
#제외되었다는 것을 알 수 있습니다. 이처럼 파이썬은 그룹 연산에 적합한 열을 알아서 골라줍니다.
print(tips_10.columns)

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [42]:
#그룹 오브젝트 활용하기
#만약 그룹 오브젝트에서 특정 데이터만 추출하려면 get_group메서드를 사용하면 됩니다. 
#다음은 sex열로 그룹화한 그룹 오브젝트에 get_group메서드를 사용하여 성별이 여성인 데이터만 
#추출한 것입니다. 
female = grouped.get_group("Female")
print(female)

     total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

In [43]:
#이번에는 그룹 오브젝트를 반복문에 사용해 보겠습니다. 
for sex_group in grouped:
    print(sex_group)

('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)
('Female',      total_bill   tip     sex smoker   day    time  size
198       13.00  2.00  Female    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2)

In [44]:
#그런데 위의 결과를 자세히 보면 sex_group으로 넘어온 값이 튜플이라는 것을 알 수 있습니다.
for sex_group in grouped:
    print("the type is: {}\n".format(type(sex_group)))
    print("the length is: {}\n".format(len(sex_group)))
    first_element = sex_group[0]
    print("the first element is: {}\n".format(first_element))
    print("it has a type of: {}\n".format(type(sex_group[0])))
    
    second_element = sex_group[1]
    print("the second element is: {}\n".format(second_element))
    print("it has a type of: {}\n".format(type(second_element)))

    print("what we have:")
    print(sex_group)
    
    break

the type is: <class 'tuple'>

the length is: 2

the first element is: Male

it has a type of: <class 'str'>

the second element is:      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2

it has a type of: <class 'pandas.core.frame.DataFrame'>

what we have:
('Male',      total_bill   tip   sex smoker   day    time  size
24        19.82  3.18  Male     No   Sat  Dinner     2
6          8.77  2.00  Male     No   Sun  Dinner     2
153       24.55  2.00  Male     No   Sun  Dinner     4
211       25.89  5.16  Male    Yes   Sat  Dinner     4
176       17.89  2.00  Male    Yes   Sun  Dinner     2
192       28.44  2.56  Male    Yes  Thur   Lunch     2
9         14.78  3.23  Male     No   Sun  Dinner     2)

In [46]:
#여러 열을 사용해 그룹 오브젝트 만들고 계산하기
#다음은 sex, time열을 기준으로 데이터를 그룹화하고 평균값을 구한 것입니다. 
bill_sex_time = tips_10.groupby(["sex","time"])
group_avg = bill_sex_time.mean()
print(group_avg)

               total_bill       tip      size
sex    time
Male   Lunch    28.440000  2.560000  2.000000
       Dinner   18.616667  2.928333  2.666667
Female Lunch    12.740000  2.260000  2.000000
       Dinner   15.380000  3.000000  2.000000

In [47]:
#앞의 과정을 거친 group_avg의 자료형을 확인해 보면 데이터프레임이라는 것을 알 수 있습니다. 
#그리고 변수 group_avg에 포함된 열은 total_bill, tip, size라는 것도 알 수 있습니다. 
print(type(group_avg))

<class 'pandas.core.frame.DataFrame'>

In [48]:
print(group_avg.columns)

Index(['total_bill', 'tip', 'size'], dtype='object')

In [49]:
#다음은 group_avg의 인덱스를 출력한 것입니다.
print(group_avg.index)

MultiIndex([(  'Male',  'Lunch'),
            (  'Male', 'Dinner'),
            ('Female',  'Lunch'),
            ('Female', 'Dinner')],
           names=['sex', 'time'])

In [50]:
#데이터프레임의 인덱스가 MultiIndex인 경우에는 reset_index메서드를 사용하여
#데이터프레임의 인덱스를 새로 부여할 수 있습니다. 
group_method = tips_10.groupby(["sex","time"]).mean().reset_index()
print(group_method)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000

In [51]:
#reset_index메서드 대신 as_index인자를 False로 설정해도 같은 결과를 얻을 수 있습니다. 
group_param = tips_10.groupby(["sex","time"], as_index=False).mean()
print(group_param)

      sex    time  total_bill       tip      size
0    Male   Lunch   28.440000  2.560000  2.000000
1    Male  Dinner   18.616667  2.928333  2.666667
2  Female   Lunch   12.740000  2.260000  2.000000
3  Female  Dinner   15.380000  3.000000  2.000000

In [55]:
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr
tesla = pdr.get_data_quandl("TSLA")
tesla.to_csv("c:\\work\\tesla_stock_quandl.csv")

ModuleNotFoundError: No module named 'pandas_datareader'